<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>University of Minnesota Insect Collection {{ page.title }}</title>

    <link type="text/css" rel="stylesheet" media="all" href="/stylesheets/drupal7/system.menus.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/stylesheets/drupal7/system.messages.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/stylesheets/drupal7/system.theme.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/stylesheets/drupal7/jquery.ui.core.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/stylesheets/drupal7/jquery.ui.theme.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/stylesheets/drupal7/overlay-parent.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/stylesheets/drupal7/contextual.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/stylesheets/drupal7/field.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/stylesheets/drupal7/search.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/stylesheets/drupal7/user.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/stylesheets/drupal7/views.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/stylesheets/drupal7/ctools.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/stylesheets/drupal7/shortcut.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/stylesheets/drupal7/toolbar.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/stylesheets/added.css" />


    <link type="text/css" rel="stylesheet" media="all" href="/andromeda-assets/css/andromeda_slideshow.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/andromeda-assets/css/andromeda_slideshow_nivo_slider.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/andromeda-assets/css/reset.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/andromeda-assets/css/layout.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/andromeda-assets/css/structure.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/andromeda-assets/css/node.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/andromeda-assets/css/menu.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/andromeda-assets/css/comment.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/andromeda-assets/css/form.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/andromeda-assets/css/font.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/andromeda-assets/css/panel.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/andromeda-assets/css/view.css" />

    <script type="text/javascript" src="/javascripts/drupal7/jquery_005.js"></script>
    <script type="text/javascript" src="/javascripts/drupal7/jquery_002.js"></script>
    <script type="text/javascript" src="/javascripts/drupal7/drupal.js"></script>
    <script type="text/javascript" src="/javascripts/drupal7/jquery_006.js"></script>
    <script type="text/javascript" src="/javascripts/drupal7/jquery_004.js"></script>
    <script type="text/javascript" src="/javascripts/drupal7/overlay-parent.js"></script>
    <script type="text/javascript" src="/javascripts/drupal7/contextual.js"></script>
    <script type="text/javascript" src="/javascripts/drupal7/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/drupal7/panels.js"></script>
    <script type="text/javascript" src="/javascripts/drupal7/jquery_003.js"></script>
    <script type="text/javascript" src="/andromeda-assets/javascripts/andromeda_slideshow_nivo_slider.js"></script>
    <script type="text/javascript" src="/javascripts/drupal7/toolbar.js"></script>
  </head>
  <body class="front not-logged-in one-sidebar sidebar-right">

    <div id="page"><div id="page-inner">

      <a name="top" id="navigation-top"></a>
            <div id="skip-to-nav"><a href="#navigation">Skip to Navigation</a></div>

      <div id="header"><div id="header-inner" class="clear-block">

                <div id="logo-title">

                        <div id="logo">
</div>


          </div> <!-- /#logo-title -->


      </div></div> <!-- /#header-inner, /#header -->

      <div id="main"><div id="main-inner" class="clear-block with-navbar">

        <div id="content"><div id="content-inner">




          <div id="content-area">
            <div id="node-3359" class="node sticky node-teaser node-type-page"><div class="node-inner">

{{ content }}


  </div></div> <!-- /node-inner, /node -->
          </div>

        </div></div> <!-- /#content-inner, /#content -->

                <div id="navbar"><div id="navbar-inner" class="clear-block region region-navbar">

            <a name="navigation" id="navigation"></a>

                        <div id="search-box">
                <form action="/"  accept-charset="UTF-8" method="post" id="search-theme-form">
  <div><div id="search" class="container-inline">
    <div class="form-item" id="edit-search-theme-form-1-wrapper">
   <label for="edit-search-theme-form-1">Search this site: </label>

   <input type="text" maxlength="128" name="search_theme_form" id="edit-search-theme-form-1" size="15" value="" title="Enter the terms you wish to search for." class="form-text" />
  </div>
  <input type="submit" name="op" id="edit-submit" value="Search"  class="form-submit" />
  <input type="hidden" name="form_build_id" id="form-de672303d3c51489b7d90fcc33c1b702" value="form-de672303d3c51489b7d90fcc33c1b702"  />
  <input type="hidden" name="form_id" id="edit-search-theme-form" value="search_theme_form"  />
  </div>

  </div></form>
              </div> <!-- /#search-box -->

                        <div id="primary">

{% include nav_top.html %}


  </div> <!-- /#primary -->




          </div></div> <!-- /#navbar-inner, /#navbar -->


                <div id="sidebar-right"><div id="sidebar-right-inner" class="region region-right">

{% include nav_sidebar.html %}



          </div></div> <!-- /#sidebar-right-inner, /#sidebar-right -->

      </div></div> <!-- /#main-inner, /#main -->


    </div></div> <!-- /#page-inner, /#page -->

        <div id="closure-blocks" class="region region-closure"><div id="block-block-3" class="block block-block region-odd even region-count-1 count-4"><div class="block-inner">


    <div class="content">
      <img rel="lightbox" src="/images/pixel.gif" />  </div>


  </div></div> <!-- /block-inner, /block -->
  <div id="block-block-5" class="block block-block region-even odd region-count-2 count-5"><div class="block-inner">


    <div class="content">
      <p><font size="2"><center>copyright ©2008-2011</center></font></p>
    </div>


  </div></div> <!-- /block-inner, /block -->

  </div>


  </body>
</html>